.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .number-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .number {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin: 0 2px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
  }
  
  .number:hover {
    background-color: #e0e0e0;
  }
  
  .board {
    display: grid;
    grid-template-rows: repeat(9, 40px);
    grid-template-columns: repeat(9, 40px);
    margin-top: 10px;
  }
  
  .cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    
  }
  
  .cell.selected {
    background-color: #d3f6f8;
  }
  
  .actions {
    margin-top: 15px;
  }
  
  .submit-button,
  .restart-button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button {
    background-color: #4caf50;
    color: white;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .restart-button {
    background-color: #ff5722;
    color: white;
  }
  
  .restart-button:hover {
    background-color: #e64a19;
  }

  

  
    /* خطوط سوداء داكنة لتقسيم مربعات 3x3 */
    .cell:nth-child(3n) {
        border-right: 2px solid black;
    }
    
    .cell:nth-child(-n+9) {
        border-top: 2px solid black;
    }
    
    .cell:nth-child(n+73) {
        border-bottom: 2px solid black;
    }
    
    .cell:nth-child(9n+1),
    .cell:nth-child(9n+4),
    .cell:nth-child(9n+7) {
        border-left: 2px solid black;
    }
    
      /* إضافة خط أسود داكن أسفل الصفوف 3 و 6 و 9 */
    .cell:nth-child(n+19):nth-child(-n+27) {
        border-bottom: 2px solid black;
    }
    
    .cell:nth-child(n+46):nth-child(-n+54) {
        border-bottom: 1px solid black;
    }
    
    .cell:nth-child(n+73):nth-child(-n+81) {
        border-bottom: 2px solid black;
    }