.board {
    display: grid;
    grid-template-rows: repeat(9, 40px); /* 9 صفوف */
    grid-template-columns: repeat(9, 40px); /* 9 أعمدة */
    margin: 20px auto;
  }
  
  .cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid lightgray; /* الحدود الافتراضية للخلايا */
    box-sizing: border-box;
  }
  
  /* خطوط سوداء داكنة لتقسيم مربعات 3x3 */
  .cell:nth-child(3n) {
    border-right: 2px solid black;
  }
  
  .cell:nth-child(-n+9) {
    border-top: 2px solid black;
  }
  
  .cell:nth-child(n+73) {
    border-bottom: 2px solid black;
  }
  
  .cell:nth-child(9n+1),
  .cell:nth-child(9n+4),
  .cell:nth-child(9n+7) {
    border-left: 2px solid black;
  }
  
  /* إضافة خط أسود داكن أسفل الصفوف 3 و 6 و 9 */
  .cell:nth-child(n+19):nth-child(-n+27) {
    border-bottom: 2px solid black;
  }
  
  .cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 1px solid black;
  }
  
  .cell:nth-child(n+73):nth-child(-n+81) {
    border-bottom: 2px solid black;
  }
  
  .App {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin: 20px 0;
  }
  